@{
    ViewData["Title"] = "Лабораторна робота 1";
}

<h1>Лабораторна 1</h1>
<h2> Варіант 34 </h2>
<h3> Завдання </h3>

<p>
    Як Вам стало відомо, Петя дуже любить програмувати. Нещодавно він вирішив реалізувати популярну карткову гру "Дурань". Але у Петі поки що замало досвіду, йому терміново потрібна Ваша допомога.
</p>
<p>
    Як відомо, у «Дурака» грають колодою із 36 карт. У програмі Петі кожна карта представляється у вигляді рядка з двох символів, де перший символ означає ранг ('6', '7', '8', '9', 'T', 'J', 'Q', 'K') , 'A') карти, а другий символ означає масть ('S', 'C', 'D', 'H'). Ранги перераховані у порядку зростання старшинства. Петі необхідно вирішити наступне завдання: чи зможе гравець, володіючи набором з N карт, відбити M карт, якими під нього зроблено хід? Для того, щоб відбитися, гравцю потрібно покрити кожну з карт, якими під нього зроблено хід, картою зі своєї колоди. Карту можна покрити або старшою картою тієї ж масті, або картою козирної масті. Якщо карта, що криється сама є козирною, то її можна покрити тільки старшим козирем. Однією картою можна покрити лише одну картку.
</p>
<h3>
    Вхідні дані
</h3>
<p>
    У першому рядку вхідного файлу INPUT.TXT знаходяться два натуральні числа N і M (N ≤ 35, M ≤ 4, M ≤ N), а також символ R, що означає козирну масть. У другому рядку перераховані N карток, що знаходяться на руках у гравця. У третьому рядку перераховані M карт, які необхідно відбити. Всі карти відокремлені одна від одної одним пробілом.
</p>
<h3>
    Вихідні дані
</h3>
<p>
    У вихідний файл OUTPUT.TXT виведіть "YES" у випадку, якщо можна відбитись, або "NO", якщо не можна.
</p>

<form method="post" asp-action="RunLab" asp-controller="Lab">
    <input type="hidden" name="labNumber" value="1" />
    <label for="inputFilePath">Input File Path:</label>
    <input type="text" id="inputFilePath" name="inputFilePath" />
    <br />
    <label for="outputFilePath">Output File Path:</label>
    <input type="text" id="outputFilePath" name="outputFilePath" />
    <br />
    <button type="submit">Run</button>
</form>
<p>@ViewBag.Message</p>