@{
    ViewData["Title"] = "Лабораторна робота 2";
}

<h1>Лабораторна 2</h1>
<h2> Варіант 34 </h2>
<h3> Завдання </h3>

<p>
    Коли Мишко та Маша купували подарунок, виникла цікава ситуація. У них була лише одна велика купюра, а у продавця – кілька дрібниць. Справа відбувалася вранці, тому продавцю потрібно було економити дрібницю, і він хотів віддати здачу мінімальною кількістю монет. Подумавши деякий час, вони точно визначили, з якою кількістю продавця доведеться розлучитися.
</p>
<p>
    А ви зможете вирішити таке завдання?
</p>
<h3>
    Вхідні дані
</h3>
<p>
    У першому рядку вхідного файлу INPUT.TXT записано число N (1 ≤ N ≤ 10) – кількість різних номіналів монет, що містяться у касі. Можна вважати, що кількість монет кожного номіналу є достатньою. На наступному рядку міститься N цілих чисел ai (0 < ai ≤ 2000) – номінали монет. У третьому рядку записано одне число K (1 ≤ K ≤ 106) – сума, яку потрібно набрати.
</p>
<h3>
    Вихідні дані
</h3>
<p>
    У вихідний файл OUTPUT.TXT виведіть мінімальну кількість монет, яку доведеться віддати продавцю, або -1, якщо продавець взагалі не зможе дати їм здачу.
</p>

<form method="post" asp-action="RunLab" asp-controller="Lab">
    <input type="hidden" name="labNumber" value="2" />
    <label for="inputFilePath">Input File Path:</label>
    <input type="text" id="inputFilePath" name="inputFilePath" />
    <br />
    <label for="outputFilePath">Output File Path:</label>
    <input type="text" id="outputFilePath" name="outputFilePath" />
    <br />
    <button type="submit">Run</button>
</form>
<p>@ViewBag.Message</p>