@{
    ViewData["Title"] = "Лабораторна робота 3";
}

<h1>Лабораторна 3</h1>
<h2> Варіант 34 </h2>
<h3> Завдання </h3>

<p>
    У постіндустріальну епоху основною цінністю є інформація. Тому особливо важливим є контроль над каналами передачі інформації. У країні всі канали зв'язку контролюються державою.
</p>
<p>
    Перед ІТ-відділом однієї досить великої фірми, що займається консалтингом у галузі інноваційних технологій, було поставлено завдання поширити якийсь файл по філіях цієї фірми, що знаходяться у різних містах країни.
</p>
<p>
    Канали передачі інформації в цій країні, як уже говорилося, контролюються державою, тому за передачу інформації доводиться платити гроші. Ситуація також ускладнюється тим, що канали односпрямовані, тобто інформацію щодо них можна передавати лише в одному напрямку.
</p>
<p>
    Нехай для зручності міста пронумеровані натуральними числами від 1 до n. Головний офіс знаходиться в місті номер 1, таким чином, необхідно знайти такий набір каналів зв'язку, якими можна доставити файл від міста номер 1 до будь-якого іншого, а серед усіх таких наборів вибрати найменшу сумарну вартість.
</p>
<p>
    Задано список каналів зв'язку, якими може користуватися компанія. Напишіть програму, яка містить потрібний набір каналів зв'язку.
</p>
<h3>
    Вхідні дані
</h3>
<p>
    Перший рядок вхідного файлу INPUT.TXT містить числа n і m - кількість міст і кількість каналів зв'язку відповідно (1 ≤ n ≤ 22, 0 ≤ m ≤ 22). Наступні m містять опис каналів зв'язку. Кожен опис містить три цілих числа: u, v і c - відповідно номери міст, з'єднаних каналом і вартість пересилання файлу цим каналом (1 ≤ u, v ≤ n, 0 ≤ c ≤ 1000). Жоден із каналів не з'єднує місто із самим собою, але між двома містами може бути більше одного каналу.
</p>
<h3>
    Вихідні дані
</h3>
<p>
    У першому рядку вихідного файлу OUTPUT.TXT виведіть вартість пересилання файлу та кількість каналів, які забезпечують таку вартість. У другому рядку виведіть номери каналів, що становлять такий набір. Канали нумеруються від 1 до m у тому порядку, в якому вони перераховані у вхідному файлі.
</p>

<form method="post" asp-action="RunLab" asp-controller="Lab">
    <input type="hidden" name="labNumber" value="3" />
    <label for="inputFilePath">Input File Path:</label>
    <input type="text" id="inputFilePath" name="inputFilePath" />
    <br />
    <label for="outputFilePath">Output File Path:</label>
    <input type="text" id="outputFilePath" name="outputFilePath" />
    <br />
    <button type="submit">Run</button>
</form>
<p>@ViewBag.Message</p>