@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота 5</h1>
    <p>В цьому веб-застосунку у вас є можливість:</p>
    <ol>
        <li>Зареєструватись</li>
        <li>Авторизуватись</li>
        <li>Переглянути власний профіль</li>
        <li>Запустити лабораторні роботи 1-3</li>
    </ol>
    <p>Для запуску лабораторних робіт вам необхідно авторизуватись. Якщо ви ще не маєте акаунт - зареєструйтесь.</p>
    <p>Для навігації використовуйте спеціальні кнопки зверху сторінки.</p>
</div>
