<form method="post">
    <div>
        <label>Email:</label>
        <input name="email" />
    </div>
    <div>
        <label>Пароль:</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Авторизуватись</button>
    <span asp-validation-summary="All"></span>
</form>
